<% if dialog[:color] && dialog[:color_reason] %>
  <% klass = '' %>
<% else %>
  <% klass = 'hidden' %>
<% end %>

<div class="dialog_color_reason <%= klass %>" id="<%= dialog[:name] %>_color_reason">
  <%= link_to dialog[:color_reason_action], 
    { class: dialog[:color_reason_action] ? '' : 'no_href',
      data: {  html: "true", toggle: 'tooltip', container: 'body' },
      title: dialog[:color_reason] } do %>
    <% if dialog[:color] == 'red' %>
      <span class="glyphicon glyphicon-exclamation-sign"></span>
    <% elsif dialog[:color] == 'yellow' %>
      <span class="glyphicon glyphicon-info-sign"></span>
    <% else %>
      <span class="glyphicon"></span>
    <% end %>
  <% end %>
</div>