<div class="rg-transparent-bg rg-margin-left uk-padding-remove rxg_portal_dialog <%= type %>" <%= defined?(dialog_id) ? "id=#{dialog_id}" : '' %>>

  <div class="content">

    <%= body %>
        
  </div>

</div>
