<% notice_messages = {
  :invalid_credentials              => 'W, Invalid credentials',
  :scg_cannot_login_yet             => 'W, Intersession time not met',
  :scg_exceeded_max_sessions        => 'E, Maximum sessions reached',
  :scg_not_yet_valid                => 'W, Shared code is not yet valid',
  :scg_no_longer_valid              => 'W, Shared code has expired',
  :signed_up                        => 'I, Thanks for signing up',
  :logged_in                        => 'I, You are now logged in',
  :automatic_login                  => 'I, You were automatically logged in',
  :authenticate_again               => 'I, Please re-authenticate to confirm your identity',
  :logged_out                       => 'I, You were logged out',
  :no_secret_question               => 'W, No secret question for this account - cannot reset password',
  :password_mismatch                => 'W, New password did not match confirmation',
  :password_blank                   => 'W, Cannot reset with a blank password',
  :password_reset_ok                => 'I, Password reset successfully',
  :password_reset_failed            => 'W, Password reset failed - too short?',
  :password_reset_not_allowed       => 'W, Password resets are not allowed from this network',
  :current_account_updated          => 'I, Your account was updated successfully',
  :payment_method_updated           => 'I, Your payment method was updated successfully',
  :payment_method_deleted           => 'I, Your payment method was deleted',
  :invalid_coupon                   => 'W, Invalid coupon code',
  :redeem_coupon_ok                 => 'I, Coupon redeemed successfully',
  :no_usage_plan_selected           => 'W, Please select a plan',
  :no_method_selected               => 'W, Please select a payment option',
  :no_direct_merchant_configured    => 'E, Usage plan is not configured for a direct merchant',
  :no_offsite_merchant_configured   => 'E, Usage plan is not configured for a offsite merchant',
  :no_pms_server_configured         => 'E, Usage plan is not configured for a PMS server',
  :no_authorization_code            => 'E, Please grant permissions when prompted',
  :no_omniauth_strategy             => 'E, No login strategy found',
  :logout_failed                    => 'E, You are still logged in',
  :already_logged_in                => 'E, You are already logged in',
  :not_logged_in                    => 'E, You are not logged in',
  :no_current_account               => 'E, You are not logged in with an account',
  :no_merchant                      => 'E, No merchant or PMS server configured for the selected usage plan',
  :no_remote_response               => 'E, No response received from the remote server',
  :no_matching_strategies           => 'E, No matching login strategies for this portal',
  :invalid_radius_request           => 'E, Invalid radius request',
  :invalid_ldap_request             => 'E, Invalid ldap request',
  :improper_request                 => 'E, Improper action request',
  :pms_guest_name_missing           => 'W, You must specify a guest name to continue',
  :pms_room_number_missing          => 'W, You must specify a room number to continue',
  :pms_guest_name_is_numeric        => 'W, You have entered a room number into the guest name field',
  :pms_auth_failed                  => 'E, Your reservation could not be found. Please double-check your credentials and try again.',
  :pms_room_not_found               => 'E, The room you entered does not exist. Please double-check your credentials and try again.',
  :pms_connection_failed            => 'E, The Property Management System did not respond. Please try again.',
  :pms_charge_failed                => 'E, The charge was not accepted. Please try again.',
  :pms_duplicate_charge             => 'W, The charge was detected as a duplicate and was ignored',
  :pms_connection_error             => 'E, There was an error communicating with the Property Management System. Please try again.',
  :pms_no_post                      => 'E, Unable to post additional charges to your room. Please call the front desk.',
  :pms_invalid_arguments            => 'E, The Property Management System interface is not configured correctly',
  :usage_plan_not_allowed           => 'E, Usage plan not allowed',
  :vta_changed                      => 'W, Please reset your Wi-Fi connection to communicate with your other devices',
  :device_updated                   => 'I, The device was updated successfully',
  :device_deleted                   => 'I, The device was deleted',
  :device_locked                    => 'E, This device is locked to a different account',
  :account_deleted                  => 'I, Your account was deleted',
  :error_updating_device            => 'E, Failed to update your device',
  :invalid_mac_address              => 'E, Invalid device MAC address',
  :confirm_upgrade                  => 'I, Please confirm your upgrade plan selection',
  :merchant_no_response             => 'E, No response received from the remote merchant',
  :psk_updated                      => 'I, Wireless Pre-Shared Key has been updated',
  :account_already_activated        => 'I, Account is already activated',
  :activate_account                 => 'I, Please activate your account by entering your validation code',
  :account_activated                => 'I, Account activated successfully',
  :phone_number_missing             => 'W, Phone number is missing.  Unable to send SMS validation code',
  :phone_validated                  => 'I, Phone number validated successfully',
  :email_validated                  => 'I, Email validated successfully',
  :validation_code_sent             => 'I, Validation code sent',
  :sms_failure                      => 'E, Unable to send SMS',
  :invalid_phone_number             => 'E, Unable to validate phone number',
  :signature_validation_failed      => 'E, Signature could not be validated. Contact an administrator',
  :unrecognized_identity            => 'E, Unable to locate the identity provider',
  :lan_party_created                => 'I, LAN Party created',
  :lan_party_updated                => 'I, LAN Party updated',
  :lan_party_deleted                => 'I, LAN Party deleted',
  :lan_party_not_created            => 'E, LAN Party not created',
  :lan_party_not_updated            => 'E, LAN Party not updated',
  :device_removed_from_lan_party    => 'I, Device removed from LAN Party',
  :lan_party_invitation_accepted    => 'I, LAN Party invitation accepted',
  :lan_party_invitation_revoked     => 'I, LAN Party invitation revoked',
  :lan_party_full                   => 'E, The LAN Party cannot currently accept any more members',
  :lan_party_invitation_sent        => 'I, The invitation has been sent',
  :lan_party_invitation_not_sent    => 'E, The invitation could not be sent'
} %>


<% modal_messages = {
  :pms_guest_name_missing => '
<h3>Access Denied</h3>
<b>You must specify a valid guest name to continue.</b>  
<br/><br/>
Please review the pamphlet that the front desk gave you upon check-in. You 
must supply the name on your reservation. The name may be found on the 
pamphlet with your room number.
',

  :pms_guest_name_is_numeric => '
<h3>Access Denied</h3>
<b>You entered a number as your guest name.</b>  
<br/><br/>
You may have accidentally entered the room number into the guest name field
and vice versa. If this is the case, please enter your room number and guest
name in the appropriate fields.
<br/><br/>
Please review the pamphlet that the front desk gave you upon check-in. You
must supply the room number and guest name that you are checked into. The
room number may be found on the pamphlet along with the name under which the
reservation is checked in.
',

  :pms_room_number_missing => '
<h3>Access Denied</h3>
<b>You must specify a valid room number to continue.</b>  
<br/><br/>
Please review the pamphlet that the front desk gave you upon check-in. You
must supply the room number that you are checked into. The room number may be
found on the pamphlet along with the name under which the reservation is
checked in.
',
  
  :pms_auth_failed => '
<h3>Access Denied</h3>
<b>The credentials you supplied do not match any guests that we have on file.</b>
<small>
<br /><br />
Please review the following:
<br /><br />
#1) Check your room number. Look at the sign on your door. Look at the
pamphlet in which the front desk supplied your key.
<br /><br />
#2) Make sure you entered the appropriate name. Usually this is the last name
of the person under which the reservation was made.
<br /><br />
#3) If you have a name that may be easily misspelled, call the front desk and
verify that your guest folio has your last name spelled correctly.
<br /><br />
#4) If your name has special characters (e.g., accents, umlauts, etc.), call
the front desk and have the special characters removed.
</small>
', 

  :pms_no_post => '
<h3>Access Denied</h3>
<b>Your guest folio is set to no post.</b>
<br /><br />
The credentials that you supplied are correct, however, we are not allowed to
post charges to your room.
<br /><br />
Call the front desk and provide them with a valid credit card to post
incidental charges. Once the front desk has removed the no post flag on your
folio, you will be able to access the Internet using the same credentials.
',

  :pms_room_not_found => '
<h3>Access Denied</h3>
<b>Invalid room number.</b>
<br /><br />
The room number that you specified does not exist. Check your room number.
Look at the sign on your door. Look at the pamphlet in which the front desk
supplied your key. Try again when you have found your room number.
'

} %>
    
<%# flash[:exception]: a raw error string describing the cause of an exception %>
<%# @exception:        a raw error string describing the cause of an exception %>
<%# flash[:notice]:    either a symbol that maps to a string in the notice_messages hash defined above, or a raw string %>
<%# @notice:           either a symbol that maps to a string in the notice_messages hash defined above, or a raw string %>
<%# flash[:message]:   a raw string containing an informative message, usually in addition to a notice %>
<%# @message:          a raw string containing an informative message, usually in addition to a notice %>

<%# an action might populate more than one type of notice %>
<% [ flash[:exception], @exception,
     flash[:notice], @notice,
     flash[:message], @message,
     @current_account.nil? ? nil : @current_account.portal_message
   ].flatten.compact.uniq.each do |notice| %>

  <% 
  # Map flash message severity indicator to uikit alert level
  severity_hash = {
    'I' => 'success',
    'W' => 'warning',
    'E' => 'danger',
  }
  severity = 'E'
  message  = notice.to_s
  if notice_messages[notice.to_sym]
    notice_array = notice_messages[notice.to_sym].split(/,/)
    message      = notice_array[1]
    severity     = severity_hash[notice_array[0]]
  end
  %>

  <div class="uk-alert uk-alert-<%= severity %> rg-alert rg-alert-<%= severity %>" data-uk-alert>
    <a href="" class="uk-alert-close uk-close"></a>
    <%= truncate(message.to_s, :length => 80) %>
  </div>

  <% if modal_messages[notice.to_sym] %>
    <div id="rg-modal" class="uk-modal">
      <div class="uk-modal-dialog">
        <a class="uk-modal-close uk-close"></a>
        <%= modal_messages[notice.to_sym].gsub(/\n/, '').html_safe %>
      </div>
    </div>
    <script type="text/javascript">
      var modal = UIkit.modal("#rg-modal");
      modal.show();
    </script>
  <% end %>

<% end %>

<%# Clear the message from the Account record, skipping validation and callbacks %>
<% if @current_account %>
  <% @current_account.update_column(:portal_message, nil) if @current_account.portal_message %>
<% end %>
