<%= form_tag({:action => :shared_credential_login}, {:id => 'shared_credential_login', :class => 'uk-form rg-form'}) do %>
  <fieldset data-uk-margin>
    <legend>Access Code</legend>
    <div class="uk-form-row">
      <%= password_field_tag 'credential', '', :placeholder => 'enter code here...', :class => 'uk-width-1-1', :title => 'code' %>
    </div>
    <div class="uk-form-row">
      <%= render :partial => 'terms_checkbox' %>
      <%= button_tag('Sign On', :class => 'uk-button uk-width-1-1 rg-button', :data => { :disable_with => 'Please wait...' }) %>
    </div>
  </fieldset>
<% end %>
