<% if @current_account %>
  <% if @current_account.prorated_credit.to_f > 0 %>
  <p>
    You have approximately <strong> <%= @current_account.prorated_credit.to_i%>
    units of credit </strong> that will be automatically applied to your next
    purchase.
  </p>
  <% end %>
<% end %>
