<div class='rg-heading'>
  <h1 class='uk-hidden-small'>High Speed Internet Access</h1>
  <h2 class='uk-visible-small'>High Speed Internet Access</h2>
</div>
<%= render :partial => 'login_forms_conditional' %>
