<% if @effective_portal.try(:require_tos_inline?) %>
  <label>
    <p>
      <input id="tos" type="checkbox" name="terms" value="terms" required />  
      I accept <a href="#termsModal" style="text-decoration:underline;" data-uk-modal>Terms of Service</a>
    </p>
  </label>
<% end %>
