<div id="termsModal" class="uk-modal">
  <div class="uk-modal-dialog">
    <div class="uk-modal-header">
      Terms of Service
      <button class="uk-modal-close uk-close"></button>
    </div>
    
    <%= render :partial => 'tos' %>
    
    <div class="uk-modal-footer">
      <button class="uk-modal-close rg-button">Close</button>
    </div>
  </div>
</div>
