<div class="rg-heading">
  <h2 class='uk-visible-small'>Content Not Permitted</h2>
  <h1 class='uk-hidden-small'>Content Not Permitted</h1>
</div>

<div class="uk-grid rg-transparent-bg rg-margin-left rg-payment-form uk-padding-remove uk-margin-remove">
  <div class="uk-width-1-1">
    <%= portal_image_tag 'denied.png' %>
    <br />
    <dl class="contentfilter">
      <dt> denied URL </dt>
      <dd> <%= link_to(params[:DENIEDURL], params[:DENIEDURL]) %> </dd>
      <!--
      <dt> reason </dt>
      <dd> <%= params[:REASON] %> </dd>
       -->
      <dt> categories </dd>
      <% params[:CATEGORIES].to_s.split(',').each do |category| %>
        <dd><%= category.to_s.sub(/.*-/, '') %></dd>
      <% end %>
    </dl>
  </div>
</div>
