<div class="rg-heading">
  <h2 class='uk-visible-small'>Forgot Password?</h2>
  <h1 class='uk-hidden-small'>Forgot Password?</h1>
</div>

<%= form_tag({:action => :forgot_password_challenge}, {:id => 'forgot_password', :class => 'uk-form rg-form'}) do %>
  <fieldset data-uk-margin>
    <legend>Enter login</legend>
    <div class="uk-form-row">
      <%= text_field_tag 'login', params[:login], :placeholder => 'login...', :class => 'uk-width-1-1' %>
    </div>
    <div class="uk-form-row">
      <%= button_tag('Reset', :class => 'uk-button uk-width-1-1 rg-button', :data => { :disable_with => 'Please wait...' }) %>
    </div>
  </fieldset>
<% end %>


