<div class="rg-heading">
  <h2 class='uk-visible-small'>Status</h2>
  <h1 class='uk-hidden-small'>Status</h1>
</div>

<div class="uk-grid rg-transparent-bg rg-margin-left rg-payment-form uk-padding-remove uk-margin-remove">
  <div class="uk-width-1-1">
    <% if @current_account %>
      <%= render :partial => 'online_usage' %>
      <%= render :partial => 'current_usage_plan' %>
    <% end %>
  </div>
</div>
