<div class="rg-form">
  We were unable to complete the login process.  Please notify support if this issue persists.

  <br><br>

  <%= link_to('Try Again', { :action => :index }, { :class => 'uk-button uk-width-1-1 rg-button', :data => { :disable_with => 'Please wait...' } }) %>
</div>